<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nf.michal.nofear">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoFearTheme">
        <activity android:name=".Activities.signup.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.startscreen.ChallengesActivity" />
        <activity android:name=".Activities.signup.SignUpFormActivity" />
        <activity android:name=".Activities.startscreen.ViewChallengeActivity" />
        <activity android:name=".Activities.profile.ProfileActivity"
            android:parentActivityName=".Activities.startscreen.ChallengesActivity"/>
        <activity android:name=".Activities.submitchallenge.AddChallengeActivity"
            android:parentActivityName=".Activities.startscreen.ChallengesActivity" />
    </application>

</manifest>